<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1><%=data.subject_name%></h1>
    <!-- <a href="/subjects">Return to subject list</a> -->
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <th>No</th>
        <th>Name</th>
        <th>Score By Number</th>
        <th>Score By Letter</th>
      </thead>
      <tbody>
        <% let i=1; if (data) {data.Students.forEach(row=>{%>
          <tr>
            <td><%=i++%></td>
            <td><%=row.getFullName()%></td>
            <%if (row.SubjectStudent.score==null){%>
              <td><a href="/subjects/<%=row.SubjectStudent.StudentId%>/<%=row.SubjectStudent.SubjectId%>/givescore">Give Score</a></td>
            <%} else {%>
              <td><%=row.SubjectStudent.score%></td>
            <%}%>
            <td><%=row.getDataValue('scoreLeter')%></td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
