<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1>Data Students</h1>
    <!-- <a href="/students">Back to Students</a><br> -->
    <%if (pesanError!=''){%>
      <h4><%=pesanError%></h4>
    <%}%>
    <form class="form-control" action="/students/edit/<%=data.id%>" method="post">
      First Name :<br>
      <input type="text" name="first_name" value="<%=data.first_name%>" placeholder="First Name"><br>
      Last Name : <br>
      <input type="text" name="last_name" value="<%=data.last_name%>" placeholder="Last Name"><br>
      Email : <br>
      <input type="text" name="email" value="<%=data.email%>" placeholder="Email"><br><br>
      <!-- <p><input type="submit" value="EDIT STUDENT"></p> -->
      <p><button class="btn btn-primary" type="submit">Edit Data</button></p>
    </form>
  </body>
</html>
