<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <!-- <h1>Add Student Subjects</h1> -->
    <%-include partial/navigation%>
    <!-- <a href="/students">Back to Students</a><br><br> -->
    <form class="form-control" action="/students/<%=data.id%>/addsubject" method="post">
      First Name : <%=data.first_name%><br>
      Last Name  : <%=data.last_name%><br>
      Email      : <%=data.email%><br>
      Choose Subject :
      <select class="" name="SubjectId">
        <%if (dataSubject){dataSubject.forEach(rows=>{%>
          <option value="<%=rows.id%>"><%=rows.subject_name%></option>
        <%})}%>
      </select><br><br>
      <!-- <p><input type="submit" name="" value="Add Subject"></p> -->
      <button class="btn btn-primary" type="submit">Add Subject</button>
    </form>
  </body>
</html>
