<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <body>
    <%-include partial/navigation%>
    <h1>Add Data Students</h1><br>
    <!-- <a href="/students/">Back to Students</a><br> -->
    <%if (pesanError!=''){%>
    <h4><%=pesanError%></h4>
    <%}%>
    <!-- <table> -->
    <form class="form-control" action="/students/add" method="post">
      First Name : <br>
      <input type="text" name="first_name" placeholder="First Name" value="<%=data.first_name%>"><br>
      Last Name : <br>
      <input type="text" name="last_name" placeholder="Last Name" value="<%=data.last_name%>"><br>
      Email : <br>
      <input type="text" name="email" placeholder="Email" value="<%=data.email%>"><br><br>
      <button class="btn btn-primary" type="submit">Add Data</button>
    </form>
  </body>
</html>
