<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <body>
    <%- include partial/navigation%>
    <h1>Data Students</h1>
    <!-- <a href="/students/add"><button class="btn btn-primary">Add Students</button></a> -->
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <%if (data){data.forEach(row=>{%>
          <tr>
            <td><%=row.id%></td>
            <td><%=row.first_name%></td>
            <td><%=row.last_name%></td>
            <td><%=row.email%></td>
            <td><a href="/students/<%=row.id%>/addsubject">Add Subject</a></td>
            <td>
              </script>
              <a href="/students/edit/<%=row.id%>">Edit</a>
              <a>|</a>
              <a onclick="javascript:return confirm('Anda yakin akan menghapus data ini?')" href="/students/delete/<%=row.id%>">Delete</a>
            </td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
