<!DOCTYPE html>
<html>
  <%-include partial/header%>
  <body>
    <%-include partial/navigation%>
    <h1>Subjects Data</h1>    
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Subject Name</th>
          <th>Teachers</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <%if (data){data.forEach(row=>{%>
          <tr>
            <td><%=row.id%></td>
            <td><%=row.subject_name%></td>
            <td>
              <%let i=1; row.Teachers.forEach((rowsTeachers)=>{%>
                <%= i++%>. <%=rowsTeachers.first_name%> <%=rowsTeachers.last_name%><br>
              <%})%>
            </td>
            <td><a href="/subjects/<%=row.id%>/enrolledstudents">Enrolled Sutends</a></td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
