<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%=title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <h1>Data Teachers</h1>
    <a href="/">Back to Home</a><br>
    <a href="/teachers/add"><button class="btn btn-primary">Add Data</button></a>
    <table class="table table-bordered table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Options</th>
        </tr>
      </thead>
      <tbody>
        <%if (data){data.forEach(row=>{%>
          <tr>
            <td><%=row.id%></td>
            <td><%=row.first_name%></td>
            <td><%=row.last_name%></td>
            <td><%=row.email%></td>
            <%if (row.Subject!=null){%>
              <td><%=row.Subject.subject_name%></td>
            <%} else {%>
              <td>unasigned</td>
            <%}%>
            <td>
              <a href="/teachers/edit/<%=row.id%>">Edit</a>
              <a>|</a>
              <a onclick="javascript:return confirm('Anda yakin akan menghapus data ini?')" href="/teachers/delete/<%=row.id%>">Delete</a>
            </td>
          </tr>
        <%})}%>
      </tbody>
    </table>
  </body>
</html>
