<!DOCTYPE html>
<html>
  <head>
    <%-include partial/header%>
  </head>
  <body>
    <%-include partial/navigation%>
    <h1>Edit Data Teacher</h1>
    <!-- <a href="/teachers">Return to Teachers</a><br><br> -->
    <form class="form-control" action="/teachers/edit/<%=data.id%>" method="post">
      First Name : <br>
      <input type="text" name="first_name" value="<%=data.first_name%>" placeholder="First Name"><br>
      Last Name : <br>
      <input type="text" name="last_name" value="<%=data.last_name%>" placeholder="Last Name"><br>
      Email : <br>
      <input type="text" name="email" value="<%=data.email%>" placeholder="Email"><br>
      Subject : <br>
      <select name="SubjectId">
        <%if(dataSubject){dataSubject.forEach(rows=>{%>
          <%if(rows.id===data.SubjectId){%>
            <option value="<%=rows.id%>" selected><%=rows.subject_name%></option>
          <%}%>
          <option value="<%=rows.id%>"><%=rows.subject_name%></option>
        <%})}%>
      </select><br><br>
      <button class="btn btn-primary" type="submit">Edit Data</button>
    </form>
  </body>
</html>
